:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'My Soul', cursive;
    --fonte3: 'Gloria Hallelujah', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;

}

html, body {
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: var(--fonte1);
}


header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 7vw;
}

header > p {
    padding-bottom:50px;
    font-family: var(--fonte2);
    font-size: 2vw;
}

header a, footer a {
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top:10vh;
    padding-bottom:10vh;
    line-height: 2em;
    padding-left:30px;
    font-size: 2vw;
}

section.imagem > pre {
    display: inline-block;
    padding: 5px;
    background-color: rgba(190, 182, 182, 0.158);
    border-radius: 10px;

}

section > pre {
    white-space: pre-line;
    font-family: var(--fonte3);
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #474646;
    color: white;
}



footer {
    background-color: #1a1a1a;
    text-align: center;
    color: white;
    padding: 10px;
}